<div class="card">
   <div class="card-body">
      <h5 class="card-title">Tabla de citas</h5>
      <div class="search-container">
         <ul class="nav nav-tabs w-100" id="myTabs">
            <li class="nav-item">
               <a class="nav-link active" data-bs-toggle="tab" href="#personalizada" (click)="search(1)">Todas</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#search">Buscador</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                  (click)="search('attended:2')">Pendiente</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('attended:1')">Con
                  asistencia</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('attended:0')">Sin
                  asistencia</a>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade show active" id="personalizada" role="tabpanel">
               <!-- Aquí puedes mostrar la tabla completa -->
            </div>
            <div class="tab-pane fade" id="search" role="tabpanel">
               <div class="content-section">
                  <div class="card xu-card">
                     <div class="card-body">
                        <input type="text" class="form-control mt-2" placeholder="Buscar..." [(ngModel)]="searchTerm"
                           (input)="onSearchTermChange(searchTerm)">
                     </div>
                  </div>
               </div>
            </div>
            <!-- Aquí puedes agregar más pestañas con su contenido según sea necesario -->
         </div>
      </div>
      <div class="table-container" *ngIf="data?.data?.length > 0">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col" *ngFor="let header of headers">{{header}}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of data.data; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <th scope="row">{{item.request?.invoice}}</th>
                  <td>{{item?.request?.beneficiaries[0]?.nombre ?? null}} {{item?.request?.beneficiaries[0]?.apaterno ??
                     null}}</td>
                  <td>{{item?.request?.beneficiaries[1]?.nombre ?? null}} {{item?.request?.beneficiaries[1]?.apaterno ??
                     null}}</td>
                  <!-- <td>
                     <div class="text-center"
                        [ngClass]="item.request?.priority_id === 3 ? 'alert-danger' : item.request?.priority_id === 2 ? 'alert-warning' : 'alert-success'">
                        {{item.request?.priority.name}}
                     </div>
                  </td> -->
                  <!-- <td>{{item.request?.creche_request[0]?.degree?.name}}</td> -->
                  <td>{{formatDate(item.date) ?? null}}</td>
                  <td>{{formatTime(item.hour) ?? null}}</td>
                  <td>
                     <div *ngIf="item.attended == 1" class="text-center alert-success">Asistio</div>
                     <div *ngIf="item.attended == 0" class="text-center alert-danger">No asistio</div>
                     <div *ngIf="item.attended == 2" class="text-center alert-primary">Pendiente</div>
                     <div *ngIf="item.beneficiaries_count > 0" class="text-center alert-success">Ya es Beneficiario
                     </div>
                  </td>
                  <td>
                     <button *ngIf="item.attended == 2" class="btn btn-sm btn-success"
                        (click)="changeStatus({ id : item.id,attended: 1 })">Asistio</button>
                     <button *ngIf="item.attended == 2" class="btn btn-sm btn-danger m-1"
                        (click)="changeStatus({ id : item.id,attended: 0 })">No asistio</button>
                     <button
                        *ngIf="item.beneficiaries_count == 0 && item.attended == 1 && item.request?.beneficiaries[0]?.is_beneficiary == 0 && item.request?.procedure_id ==2"
                        class="btn btn-sm btn-primary m-1"
                        (click)="addBeneficiaryService({beneficiary_id : item.request?.beneficiaries[0]?.id, tutor_id : item.request?.beneficiaries[1]?.id, request_id:item.request?.id})">Dar
                        de alta como Beneficiario</button>
                     <button
                        *ngIf="item.beneficiaries_count == 0 && item.attended == 1 && (item.request?.beneficiaries[0]?.is_beneficiary == 1 || item.request?.procedure_id ==1)"
                        class="btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#crecheModal"
                        (click)="getCreches({id: item?.id,request_id: item?.request?.id,center_id : item?.request?.center_id, degree_id : item?.request?.creche_request[0]?.degree_id, beneficiary: item?.request?.beneficiaries[0], pivote_id : item?.request?.creche_request[0]?.id})">Seleccionar
                        Sala</button>
                     <button *ngIf="item.attended == 0" class="btn btn-sm btn-secondary m-1" data-bs-toggle="modal"
                        data-bs-target="#quoteModal"
                        (click)="getRequest(item?.request?.id,item.request?.beneficiaries[0])">Reagendar</button>

                     <button *ngIf="item.request?.procedure_id == 1" class=" btn btn-sm btn-info"
                        (click)="downloadCiszFormat(item?.request?.id)">Desgargar
                        Datos</button>
                     <button *ngIf="item.request?.procedure_id == 2" class=" btn btn-sm btn-info"
                        (click)="downloadFormat(item?.request?.id)">Desgargar
                        Datos</button>
                  </td>
               </tr>
            </tbody>
         </table>
         <nav aria-label="Page navigation example" *ngIf="data?.total > data?.per_page ">
            <ul class="pagination">
               <li class="page-item" *ngFor="let item of data.links; let i = index">
                  <button class="page-link" [ngClass]="{'activeLink': item.active}" (click)="onPageChange(item.url)"
                     *ngIf="item.url != null">
                     <ng-container *ngIf="item.label === '&laquo; Previous'">«</ng-container>
                     <ng-container *ngIf="item.label === 'Next &raquo;'">»</ng-container>
                     <ng-container *ngIf="item.label !== '&laquo; Previous' && item.label !== 'Next &raquo;'">
                        {{ item.label.includes('Previous') ? '«' : item.label.includes('Next') ? '»' : item.label }}
                     </ng-container>
                  </button>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>

<div class="modal fade" id="crecheModal" tabindex="-1" aria-labelledby="crecheModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="crecheModalLabel">Ingresar el beneficiario {{beneficiary?.nombre}}
               {{beneficiary?.apaterno}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form" [formGroup]="miFormulario">
               <div class="mb-3">
                  <label>Guarderias:</label>
                  <select class="form-control" formControlName="creche_id">
                     <option value='0' selected>--Seleccionar Guarderia--</option>
                     <option *ngFor="let item of creches"
                        [value]="item?.id+','+item?.beneficiry_count+','+item?.room?.name">
                        {{item?.room?.name}} - CUPO:
                        {{item?.capacity - item?.beneficiry_count}}</option>
                  </select>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="assignCreche()">Asignar
               Guarderia</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="quoteModal" tabindex="-1" aria-labelledby="quoteModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="quoteModalLabel">Reagendar cita para {{beneficiary?.nombre ?? null}}
               {{beneficiary?.apaterno ?? null}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form" [formGroup]="miFormularioQuote">
               <div class="mb-3">
                  <label for="dateInput" class="form-label">Fecha</label>
                  <input type="date" class="form-control" id="dateInput" placeholder="Ingrese la fecha"
                     formControlName="date" min="{{ minDate() }}">
               </div>
               <div class="mb-3">
                  <label for="timeInput" class="form-label">Hora</label>
                  <input type="time" class="form-control" id="timeInput" placeholder="Ingrese la hora"
                     formControlName="hour">
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="reagendar()">Agendar</button>
         </div>
      </div>
   </div>
</div>