<app-creche>
    <main id="main" class="main">
       <div class="pagetitle">
          <h1>Beneficiarios</h1>
          <nav>
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/guarderia">Dashboard</a></li>
                <li class="breadcrumb-item active">Beneficiarios</li>
             </ol>
          </nav>
       </div>
       <section class="section dashboard">
         <app-beneficiaries [data]="data" [headers]="header" (changeBeneficiary)="recargarDatosTabla()" (pageChange)="onPageChange($event)"></app-beneficiaries>
       </section>
    </main>
 </app-creche>