<app-visitor>
    <main id="mainVisitor" class="main">
        <div class="row">
            <section class="section">
                <div class="container">
                    <h2>Mis solicitudes</h2>
                    <hr>
                    <div class="text-end">
                        <button class="btn btn-sm btn-info m-1" data-bs-toggle="modal" data-bs-target="#procedureModal">
                            Iniciar nuevo trámite
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of requests; let i=index">
                            <div class="card">
                                <h5 class="m-3">
                                    Trámite '{{item?.procedure.name}}'
                                </h5>
                                <img src="assets/img/NIDO_CISZ_LOGO.png" class="card-img-top" alt="Imagen">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <div *ngIf="item?.beneficiaries.length == 0"
                                            [ngClass]="item?.beneficiaries.length > 0 ? '' : 'alert-danger'">
                                            Beneficiario: No Asignado
                                        </div>
                                        <div *ngIf="item?.beneficiaries.length > 0">
                                            Beneficiario: {{item?.beneficiaries[0].nombre}}
                                            {{item?.beneficiaries[0].apaterno}}
                                        </div>
                                    </h5>
                                    <p>Centro: {{item?.center.name}} </p>
                                    <p *ngIf="item?.creche_request[0]?.degree?.name">Grado:
                                        {{item?.creche_request[0]?.degree?.name}}
                                    </p>
                                    <p *ngIf="item?.quotes[0]?.id">Fecha de Cita: {{item?.quotes[0]?.date}}</p>
                                    <p *ngIf="item?.quotes[0]?.id">Hora de Cita: {{item?.quotes[0]?.hour}}</p>
                                    <p *ngIf="item?.quotes[0]?.id" class="text-center"
                                        [ngClass]=" item?.quotes[0]?.attended == 1 ? 'alert-success' : (item?.quotes[0]?.attended == 2 ? 'alert-primary' : 'alert-danger')">
                                        Estado de Cita: {{item?.quotes[0]?.attended == 1 ? 'ASISTIÓ' :
                                        (item?.quotes[0]?.attended == 0 ? 'NO ASISTIÓ' : 'PENDIENTE' )}}</p>
                                    <p class="text-center"
                                        [ngClass]="item.status_request_id === 1 ? 'alert-danger' : item.status_request_id === 2 ? 'alert-warning' : item.status_request_id === 4 ? 'alert-danger' : item.status_request_id === 3 ? 'alert-success' : item.status_request_id === 7 ? 'alert-primary' : 'alert-danger'">
                                        Estado de solicitud: {{item?.status_request.name}}</p>

                                    <p class="card-text text-justify-custom"></p>
                                    <div class="d-flex justify-content-center">
                                        <button *ngIf="item?.status_request.id == 2 || item?.status_request.id == 1"
                                            class="btn btn-sm btn-danger m-1"
                                            (click)="finishRequest(item?.id,6)">Cancelar</button>
                                        <button
                                            *ngIf="item?.status_request.id == 1 && item?.procedure.id == 1 || item?.status_request.id == 5 && item?.procedure.id == 1"
                                            class="btn btn-sm btn-primary m-1" data-bs-toggle="modal"
                                            data-bs-target="#crecheCiszModal"
                                            (click)="setBeneficiaries(item?.beneficiaries,item?.id, item?.housings,item)">Continuar</button>
                                        <button
                                            *ngIf="item?.status_request.id == 1 && item?.procedure.id == 2 || item?.status_request.id == 5 && item?.procedure.id == 2"
                                            class="btn btn-sm btn-primary m-1" data-bs-toggle="modal"
                                            data-bs-target="#crecheModal"
                                            (click)="setBeneficiaries(item?.beneficiaries,item?.id, item?.housings,item)">Continuar</button>
                                        <button
                                            *ngIf="item?.status_request.id != 1 && item?.status_request.id != 5 && item?.procedure.id == 2"
                                            class="btn btn-sm btn-primary m-1" data-bs-toggle="modal"
                                            data-bs-target="#crecheModal"
                                            (click)="setBeneficiaries(item?.beneficiaries,item?.id, item?.housings,item)">Ver</button>
                                        <button
                                            *ngIf="item?.status_request.id != 1 && item?.status_request.id != 5 && item?.procedure.id == 1"
                                            class="btn btn-sm btn-primary m-1" data-bs-toggle="modal"
                                            data-bs-target="#crecheCiszModal"
                                            (click)="setBeneficiaries(item?.beneficiaries,item?.id, item?.housings,item)">Ver</button>
                                        <button type="button" class="btn btn-sm m-1 btn-success" data-bs-dismiss="modal"
                                            *ngIf="item?.status_request_id==7" (click)="finishRequest(item.id,2)">Enviar
                                            solicitud</button>
                                    </div>
                                    <div class="d-flex justify-content-center"
                                        *ngFor="let item2 of item.modify_forms; let i=index">
                                        <button class="btn btn-sm btn-warning m-1" *ngIf="item2.status == 0"
                                            [routerLink]="'/guarderia/solicitud/'+item.id+item2.form.url">Modificar
                                            formulario
                                            {{item2.form.name}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</app-visitor>

<div class="modal fade py-5" id="crecheModal" tabindex="-1" role="dialog" aria-labelledby="crecheModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Formularios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-person-video2 display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Niño</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center"
                                *ngIf="beneficiaries.length == 0 && requestAll?.status_request_id==1">
                                <!-- *ngIf="beneficiaries.length == 0" -->
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    data-bs-dismiss="modal"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/beneficiario'">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    data-bs-dismiss="modal" *ngIf="beneficiaries.length >= 1"
                                    [routerLink]="'/guarderia/beneficiario/' + beneficiaries[0]?.id+'/'+request ?? null">Ver</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-people-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Padres</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length == 1 && requestAll?.status_request_id==1"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/padres'"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length == 2 && requestAll?.status_request_id==1"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/padres'"
                                    data-bs-dismiss="modal">Continuar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2" *ngIf="beneficiaries.length >= 2"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/padres'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del Infante primero.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-file-earmark-medical-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Documentación</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length >=2 && requestAll?.status_request_id==1 && requestAll?.request_documents.length == 0"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/documentos'"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length == 2 && requestAll?.status_request_id==1 && requestAll?.request_documents.length >= 1 && requestAll?.request_documents.length < (beneficiaries.length - 1)"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/documentos'"
                                    data-bs-dismiss="modal">Continuar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length >= 2 && requestAll?.request_documents.length >= 1"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/documentos'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del Infante primero.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-house-door-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Vivienda</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="housing?.length == 0 && beneficiaries.length >=2 && requestAll?.status_request_id==1 && requestAll?.request_documents.length == ((beneficiaries.length - 1) * 2)"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/vivienda'"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal" *ngIf="housing?.length == 1"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/vivienda'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del Infante primero.</p>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 1">
                                <p>Debes de llenar los datos de los padres primero.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-person-lines-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Referencias peronales</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/referencia'"
                                    *ngIf="requestAll?.references.length == 0 && requestAll?.status_request_id==1 && housing?.length == 1"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="requestAll?.references.length >= 1"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/referencia'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="requestAll?.references.length == 2 || requestAll?.references.length == 1"
                                    [routerLink]="'/guarderia/solicitud/'+request+'/referencia'">Continuar</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del Infante primero.</p>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 1">
                                <p>Debes de llenar los datos de los padres primero.</p>
                            </div>
                            <div class="d-flex justify-content-center"
                                *ngIf="housing?.length == 0 && beneficiaries.length >= 2">
                                <p>Debes de llenar los datos de la vivienda primero.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="justify-content-center">
                        <button type="button" class="btn btn-lg btn-success w-100 mx-0 mb-2" data-bs-dismiss="modal"
                            *ngIf="requestAll?.status_request_id==7" (click)="finishRequest(request,2)">Enviar
                            Solicitud</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade py-5" id="crecheCiszModal" tabindex="-1" role="dialog" aria-labelledby="crecheModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Formularios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-person-video2 display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Niño(a)</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center"
                                *ngIf="beneficiaries.length == 0 && requestAll?.status_request_id==1">
                                <!-- *ngIf="beneficiaries.length == 0" -->
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    data-bs-dismiss="modal"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/beneficiario'">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    data-bs-dismiss="modal" *ngIf="beneficiaries.length >= 1"
                                    [routerLink]="'/cisz-guarderia/beneficiario/' + beneficiaries[0]?.id+'/'+request ?? null">Ver</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-people-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Trabajador(a)</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length == 1 && requestAll?.status_request_id==1"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/padres'"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2" *ngIf="beneficiaries.length >= 2"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/padres'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del niño(a) primero.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-file-earmark-medical-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Documentación</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length >=2 && requestAll?.status_request_id==1 && requestAll?.request_documents.length == 0"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/documentos'"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length == 2 && requestAll?.status_request_id==1 && requestAll?.request_documents.length >= 1 && requestAll?.request_documents.length < (beneficiaries.length - 1)"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/documentos'"
                                    data-bs-dismiss="modal">Continuar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="beneficiaries.length >= 2 && requestAll?.request_documents.length >= 1"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/documentos'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del niño(a) primero.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 col-md-6">
                            <div class="text-center">
                                <i class="bi bi-person-lines-fill display-1"></i>
                            </div>
                            <h5 class="mt-2 text-center">Referencias personales</h5>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/referencia'"
                                    *ngIf="requestAll?.references.length == 0 && requestAll?.status_request_id==1 && housing?.length == 1"
                                    data-bs-dismiss="modal">Iniciar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf="requestAll?.references.length >= 1"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/referencia'">Ver</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                    *ngIf=" requestAll?.references.length == 1"
                                    [routerLink]="'/cisz-guarderia/solicitud/'+request+'/referencia'">Continuar</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 0">
                                <p>Debes de llenar los datos del niño(a) primero.</p>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="beneficiaries.length == 1">
                                <p>Debes de llenar los datos del trabajador primero.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="justify-content-center">
                        <button type="button" class="btn btn-lg btn-success w-100 mx-0 mb-2" data-bs-dismiss="modal"
                            *ngIf="requestAll?.status_request_id==7" (click)="finishRequest(request,2)">Enviar
                            solicitud</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade py-5" id="procedureModal" tabindex="-1" role="dialog" aria-labelledby="procedureModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Trámites</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <div class="card">
                    <img src="assets/img/NIDO_CISZ_LOGO.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title">NIDO CISZ</h5>
                        <p class="card-text text-justify-custom"> El Centro de Atención Infantil de Zapopan está
                            enfocado en atender a niñas y niños desde los 43 días hasta los 5 años con 11 meses* de
                            edad, hijos e hijas de servidoras y servidores públicos del Gobierno de Zapopan y sus
                            Organismos Públicos Descentralizados.
                        </p>
                        <p class="card-text text-justify-custom">*O hasta concluir el ciclo de preescolar en curso.</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" data-bs-toggle="modal"
                                data-bs-target="#empleadoModal">
                                Iniciar trámite
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  py-5" id="crecheShowModal" tabindex="-1" role="dialog" aria-labelledby="crecheModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Guarderías</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid"
                        src="https://www.imss.gob.mx/sites/all/statics/styles/flexslider_full/public/i2f_news/Foto%203_53.jpeg?itok=aB_uZeBY"
                        alt="Service Image">
                </div>
                <h5 class="mt-2"><strong>Descripción General</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iure, vitae porro. Atque nihil nobis
                    perferendis unde ducimus repellat nam adipisci quasi exercitationem. Qui ab cum, dolore
                    aperiam repellat explicabo expedita!</p>
                <h5><strong>Requisitos</strong></h5>
                <ul>
                    <li>Vivir dentro del municipio de Zapopan.</li>
                    <li>Infante entre 1 año 4 meses y 6 años de edad.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, iste iusto tempora ipsa aliquid
                    officia repudiandae incidunt libero pariatur nostrum nobis? Repellendus soluta ullam quas
                    impedit
                    nesciunt blanditiis sunt voluptates!</p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" (click)="getLocations(2)"
                    data-bs-toggle="modal" data-bs-target="#locationModal">Ver disponibilidad</button>
                <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  py-5" id="crecheCiszShowModal" tabindex="-1" role="dialog" aria-labelledby="crecheModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">CISZ guardería</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid"
                        src="https://www.imss.gob.mx/sites/all/statics/styles/flexslider_full/public/i2f_news/Foto%203_53.jpeg?itok=aB_uZeBY"
                        alt="Service Image">
                </div>
                <h5 class="mt-2"><strong>Descripción General</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iure, vitae porro. Atque nihil nobis
                    perferendis unde ducimus repellat nam adipisci quasi exercitationem. Qui ab cum, dolore
                    aperiam repellat explicabo expedita!</p>
                <h5><strong>Requisitos</strong></h5>
                <ul>
                    <li>Vivir dentro del municipio de Zapopan.</li>
                    <li>Infante entre 1 año 4 meses y 6 años de edad.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, iste iusto tempora ipsa aliquid
                    officia repudiandae incidunt libero pariatur nostrum nobis? Repellendus soluta ullam quas
                    impedit
                    nesciunt blanditiis sunt voluptates!</p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" data-bs-toggle="modal"
                    data-bs-target="#empleadoModal">Iniciar</button>
                <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  py-5" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Disponibilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <!-- <h5 class="mt-2"><strong>Centros</strong></h5> -->
                <div>
                    <label class="form-label">Centros con Guarderia:</label>
                    <select class="form-select" [(ngModel)]="selectLocation" (change)="getCreches()">
                        <option value="">-Seleccionar-</option>
                        <option *ngFor="let item of locations" [value]="item?.id">{{item?.name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="selectLocation != null && creches.length >= 1">
                    <label class="form-label">Cupos por Grado:</label>
                    <select class="form-select" [(ngModel)]="selectCreche">
                        <option value="">-Seleccionar-</option>
                        <option *ngFor="let item of creches" [value]="item?.id">{{item?.name}} - CUPO:
                            {{(item?.total_capacity - item?.total_sum) > 0 ? 'DISPONIBLE' : 'NO DISPONIBLE'}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" data-bs-dismiss="modal"
                    (click)="createRequest()">Iniciar
                    Trámite</button>
                <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  py-5" id="empleadoModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="serviceModalLabel">Datos de empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0 text-justify-custom">
                <!-- <h5 class="mt-2"><strong>Centros</strong></h5> -->
                <div>
                    <label class="form-label">Dependencia:</label>
                    <select class="form-select" [(ngModel)]="selectDependence">
                        <option value="">-Seleccionar-</option>
                        <option *ngFor="let item of dependences" [value]="item?.id">{{item?.dependencia}}
                        </option>
                    </select>
                </div>
                <div *ngIf="selectDependence != null">
                    <label class="form-label">No. empleado:</label>
                    <input type="text" class="form-control" [(ngModel)]="employee_number" maxlength="20">
                </div>
                <div *ngIf="selectDependence != null">
                    <label class="form-label">Puesto:</label>
                    <input type="text" class="form-control" [(ngModel)]="job_position" maxlength="60">
                </div>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" (click)="setProcedure(1)">Iniciar
                    trámite</button>
                <button type="button" id="closeSPModal" class="btn btn-lg btn-light w-100 mx-0"
                    data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>