<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Formulario Del Trabajador</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Formulario Del Trabajador</li>
                        </ol>
                    </nav>
                    <div class="pagetitle flex-container">
                        <a [routerLink]="'/cisz-guarderia/solicitud/' + request_id + '/beneficiario'">
                            <span class="glyphicon glyphicon-chevron-left"></span><i class="bi bi-arrow-left"></i>
                            Regresar
                        </a>
                        <a *ngIf="onlySee" [routerLink]="'/cisz-guarderia/solicitud/' + request_id + '/documentos'">
                            Siguiente <i class="bi bi-arrow-right"></i><span
                                class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div *ngIf="!onlySee" class="alert alert-warning alert-dismissible fade show"
                                    role="alert">
                                    <strong><i class="bi bi-exclamation-triangle"></i> Alerta!</strong>
                                    La información
                                    del formulario es exclusivamente del trabajador (padre o madre de
                                    <strong>{{beneficiaries[0]?.nombre}} {{beneficiaries[0]?.apaterno}}
                                        {{beneficiaries[0]?.amaterno}}</strong>.)
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>

                                <div
                                    *ngIf="!edit && onlySee && (request?.status_request_id == 1 || request?.status_request_id == 7)">
                                    <div class="alert alert-primary alert-dismissible fade show d-flex align-items-center "
                                        role="alert">
                                        <div>
                                            <strong>¡Importante!</strong> ¿Quieres actualizar la información
                                            del trabajador <strong>{{beneficiaries[1]?.nombre}}
                                                {{beneficiaries[1]?.apaterno}}
                                                {{beneficiaries[1]?.amaterno}}? </strong>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary" style="margin-left: 5px;"
                                            (click)="loadingUpdate()">
                                            <i class="bi bi-pencil"></i> Actualizar
                                        </button>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Cerrar"></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Información del trabajador (padre o madre)</h5>
                                    <form class="row g-3" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                                        <div class="col-9 col-md-6 col-lg-6">
                                            <label class="form-label required">Ingresar CURP</label>
                                            <input type="text" class="form-control" formControlName="curp"
                                                (input)="miFormulario.controls['curp'].setValue(miFormulario.controls['curp'].value.toUpperCase())">
                                            <span class="form-text text-danger"
                                                *ngIf="miFormulario.controls['curp'].invalid && miFormulario.controls['curp'].touched">
                                                CURP inválida.
                                            </span>
                                        </div>
                                        <!-- <div class="col-12 col-md-6 col-lg-6 align-self-end" *ngIf="curp != true">
                                            <button type="button" class="btn btn-md btn-success mt-1"
                                                (click)="validatorCurp()">Validar
                                                CURP</button>
                                        </div>
                                        <div class="col-1 col-md-6 col-lg-6 align-self-end" *ngIf="curp == true">
                                            <button type="button" class="btn btn-md btn-danger mt-1"
                                                (click)="backCurp()">
                                                <i class="bi bi-arrow-90deg-left"></i>
                                            </button>
                                        </div> -->
                                        <!-- <div *ngIf="curp == true" class="row"> -->
                                        <div class="row">
                                            <hr class="mt-1">

                                            <h5>Datos Generales</h5>
                                            <div class="col-12 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Nombre</label>
                                                <input type="email" class="form-control" formControlName="nombre">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['nombre'].errors && miFormulario.controls['nombre'].touched">
                                                    Nombre requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Apellido
                                                    Paterno</label>
                                                <input class="form-control" formControlName="apaterno">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['apaterno'].errors && miFormulario.controls['apaterno'].touched">
                                                    Apellido paterno requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Apellido
                                                    Materno</label>
                                                <input class="form-control" formControlName="amaterno">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['amaterno'].errors && miFormulario.controls['amaterno'].touched">
                                                    Apellido materno requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Fecha de nacimiento</label>
                                                <input type="date" class="form-control"
                                                    placeholder="Ejemplo de formato 2022-11-04"
                                                    formControlName="fechanacimiento">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['fechanacimiento'].errors && miFormulario.controls['fechanacimiento'].touched">
                                                    Fecha de nacimiento requerida.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Sexo</label>
                                                <select class="form-control" formControlName="sexo">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value="1">Hombre</option>
                                                    <option value="2">Mujer</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['sexo'].errors && miFormulario.controls['sexo'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Parentesco</label>
                                                <select class="form-control" formControlName="parentesco">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value=1>PADRE</option>
                                                    <option value=2>MADRE</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['parentesco'].errors && miFormulario.controls['parentesco'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Tipo de
                                                    Sangre</label>
                                                <select class="form-control" formControlName="tipo_sangre">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="O+">O+</option>
                                                    <option value="O-">O-</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['tipo_sangre'].errors && miFormulario.controls['tipo_sangre'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4"> <label class="form-label required">
                                                    Estado civil</label>
                                                <select class="form-control" formControlName="estado_civil">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value="1">Casado(a)</option>
                                                    <option value="0">Soltero(a)</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['estado_civil'].errors && miFormulario.controls['estado_civil'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <div *ngIf="!onlySee ; else lugarNacimiento"
                                                class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Lugar de
                                                    Nacimiento</label>
                                                <select class="form-control" formControlName="lugar_nacimiento">
                                                    <option value="">-Seleccionar-</option>
                                                    <option *ngFor="let item of estados" [value]="item?.estado">
                                                        {{item.estado}}
                                                    </option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['lugar_nacimiento'].errors && miFormulario.controls['lugar_nacimiento'].touched">
                                                    Lugar de Nacimiento requerido.
                                                </span>
                                            </div>
                                            <ng-template #lugarNacimiento>
                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Lugar de
                                                        Nacimiento</label>
                                                    <input class="form-control" formControlName="lugar_nacimiento">
                                                </div>
                                            </ng-template>

                                            <div class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Escolaridad</label>
                                                <select class="form-control" formControlName="escolaridad">
                                                    <option value="">-Seleccionar-</option>
                                                    <option *ngFor="let item of escolaridad" [value]="item?.id">
                                                        {{item.escolaridad}}
                                                    </option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['escolaridad'].errors && miFormulario.controls['escolaridad'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <hr class="mt-1">
                                            <h5>Datos de Direccion</h5>
                                            <div class="col-10 col-md-6 col-lg-6">

                                                <label class="form-label required">Código Postal</label>
                                                <input type="text" class="form-control" formControlName="codigopostal"
                                                    maxlength="5" pattern="[0-9]{5}" placeholder="Ejemplo: 45100">
                                                <span class="form-text text-danger"
                                                    *ngIf="miFormulario.controls['codigopostal'].invalid && miFormulario.controls['codigopostal'].touched">
                                                    Se requiere un código postal válido de 5 dígitos numéricos.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6 align-self-end"
                                                *ngIf="!postalCode && !onlySee">
                                                <button type="button" class="btn btn-md btn-success mt-1"
                                                    (click)="validatorPostCode()">Validar CP</button>
                                            </div>
                                            <div class="col-1 align-self-end" *ngIf="postalCode && !onlySee">
                                                <button type="button" class="btn btn-md btn-danger mt-1"
                                                    (click)="backPostCode()"> <i
                                                        class="bi bi-arrow-90deg-left"></i></button>
                                            </div>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Calle</label>
                                                <input type="text" class="form-control" formControlName="calle">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['calle'].errors && miFormulario.controls['calle'].touched">
                                                    Calle requerida.
                                                </span>
                                            </div>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-3 col-lg-3"> <label
                                                    class="form-label required">Num.
                                                    Exterior</label>
                                                <input type="number" class="form-control" formControlName="numext">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['numext'].errors && miFormulario.controls['numext'].touched">
                                                    Numero exterior requerido.
                                                </span>
                                            </div>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-3 col-lg-3"> <label
                                                    class="form-label ">Num.
                                                    Interior</label>
                                                <input type="text" class="form-control" formControlName="numint">
                                            </div>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Primer
                                                    Cruce</label>
                                                <input type="text" class="form-control" formControlName="primercruce">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['primercruce'].errors && miFormulario.controls['primercruce'].touched">
                                                    Primer cruce requerido.
                                                </span>
                                            </div>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label">Segundo
                                                    Cruce</label>
                                                <input type="text" class="form-control" formControlName="segundocruce">
                                            </div>
                                            <div *ngIf="postalCode && !onlySee; else estado"
                                                class="col-6 col-md-6 col-lg-4">
                                                <label class="form-label required">Estado</label>
                                                <select class="form-control" formControlName="estado">
                                                    <option value="">--Seleccionar--</option>
                                                    <option value="Jalisco">Jalisco</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['estado'].errors && miFormulario.controls['estado'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <ng-template #estado>
                                                <div class="col-6 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Estado</label>
                                                    <input class="form-control" formControlName="estado">
                                                </div>
                                            </ng-template>

                                            <div *ngIf="postalCode && !onlySee; else municipio"
                                                class="col-6 col-md-6 col-lg-4">
                                                <label class="form-label required">Municipio</label>
                                                <select class="form-control" formControlName="municipio">
                                                    <option value="">--Seleccionar--</option>
                                                    <option value="Zapopan">Zapopan</option>
                                                    <option value="Guadalajara">Guadalajara</option>
                                                    <option value="San Pedro Tlaquepaque">San Pedro Tlaquepaque</option>
                                                    <option value="Tonala">Tonala</option>
                                                    <option value="Tlajomulco de Zuñiga">Tlajomulco de Zuñiga</option>
                                                    <option value="Zapotlanejo">Zapotlanejo</option>
                                                    <option value="El Salto">El Salto</option>
                                                    <option value="Acatlan de Juarez">Acatlan de Juarez</option>
                                                    <option value="El Arenal">El Arenal</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['municipio'].errors && miFormulario.controls['municipio'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <ng-template #municipio>
                                                <div class="col-6 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Municipio</label>
                                                    <input class="form-control" formControlName="municipio">
                                                </div>
                                            </ng-template>
                                            <div *ngIf="postalCode && !onlySee; else colonia"
                                                class="col-12 col-md-6 col-lg-4"> <label
                                                    class="form-label required">Colonia</label>
                                                <select class="form-control" formControlName="colonia">
                                                    <option value="">-Seleccionar-</option>
                                                    <option *ngFor="let item of suburbs" [value]="item?.id">
                                                        {{item.colonia}}
                                                    </option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['colonia'].errors && miFormulario.controls['colonia'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <ng-template #colonia>
                                                <div class="col-6 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Colonia</label>
                                                    <input class="form-control" formControlName="colonia_name">
                                                </div>
                                            </ng-template>
                                            <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Celular</label>
                                                <input type="text" class="form-control" formControlName="celular"
                                                    maxlength="10" pattern="[0-9]{10}"
                                                    placeholder="Ejemplo: 5512345678">
                                                <span class="form-text text-danger"
                                                    *ngIf="miFormulario.controls['celular'].invalid && miFormulario.controls['celular'].touched">
                                                    Celular inválido. Debe contener 10 dígitos numéricos.
                                                </span>
                                            </div>

                                        </div>
                                        <!-- <div *ngIf="curp == true" class="row"> -->
                                        <div class="row">
                                            <hr class="mt-1">
                                            <h5>Datos Trabajo</h5>
                                            <div class="col-12 col-md-12 col-lg-12"> <label
                                                    class="form-label required">Dependencia</label>
                                                <select class="form-control" formControlName="lugar_trabajo">
                                                    <option value="">-Seleccionar-</option>
                                                    <option *ngFor="let item of dependences" [value]="item.id">
                                                        {{item.dependencia}}</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['lugar_trabajo'].errors && miFormulario.controls['lugar_trabajo'].touched">
                                                    Lugar de Trabajo requerido.
                                                </span>
                                            </div>
                                            <div class="col-10 col-md-6 col-lg-6"> <label
                                                    class="form-label required">Codigo Postal
                                                    de Trabajo</label>
                                                <input class="form-control" formControlName="codigo_trabajo"
                                                    maxlength="5" pattern="[0-9]{5}" placeholder="Ejemplo: 45100">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['codigo_trabajo'].errors && miFormulario.controls['codigo_trabajo'].touched">
                                                    Codigo Postal requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6 align-self-end"
                                                *ngIf="!postalCodeJob && !onlySee">
                                                <button type="button" class="btn btn-md btn-success mt-1"
                                                    (click)="validatorPostCodeJob()">Validar CP</button>
                                            </div>
                                            <div class="col-1 align-self-end" *ngIf="postalCodeJob && !onlySee">
                                                <button type="button" class="btn btn-md btn-danger mt-1"
                                                    (click)="backPostCodeJob()"> <i
                                                        class="bi bi-arrow-90deg-left"></i></button>
                                            </div>
                                            <div class="row" *ngIf="postalCodeJob == true">
                                                <div class="col-12 col-md-6 col-lg-6"> <label
                                                        class="form-label required">Calle</label>
                                                    <input class="form-control" formControlName="calle_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['calle_trabajo'].errors && miFormulario.controls['calle_trabajo'].touched">
                                                        Calle requerido.
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3"> <label
                                                        class="form-label required">Num. Externo</label>
                                                    <input class="form-control" formControlName="numext_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['numext_trabajo'].errors && miFormulario.controls['numext_trabajo'].touched">
                                                        Calle requerido.
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3"> <label class="form-label ">Num.
                                                        Interno</label>
                                                    <input class="form-control" formControlName="numint_trabajo">
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Primer Cruce</label>
                                                    <input class="form-control" formControlName="primer_cruce_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['primer_cruce_trabajo'].errors && miFormulario.controls['primer_cruce_trabajo'].touched">
                                                        Calle requerido.
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4"> <label class="form-label">Segundo
                                                        Cruce</label>
                                                    <input class="form-control" formControlName="segundo_cruce_trabajo">
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Municipio</label>
                                                    <input class="form-control" formControlName="municipio_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['municipio_trabajo'].errors && miFormulario.controls['municipio_trabajo'].touched">
                                                        Municipio requerido.
                                                    </span>
                                                </div>
                                                <div *ngIf="postalCode && !onlySee; else colonia_trabajo"
                                                    class="col-12 col-md-6 col-lg-4">
                                                    <label class="form-label required">Colonia</label>
                                                    <select class="form-control" formControlName="colonia_trabajo">
                                                        <option value="">-Seleccionar-</option>
                                                        <option *ngFor="let item of suburbsJob" [value]="item?.id">
                                                            {{item.colonia}}
                                                        </option>
                                                    </select>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['colonia_trabajo'].errors && miFormulario.controls['colonia_trabajo'].touched">
                                                        Debes seleccionar una opción.
                                                    </span>
                                                </div>
                                                <ng-template #colonia_trabajo>
                                                    <div class="col-6 col-md-6 col-lg-4"> <label
                                                            class="form-label required">Colonia</label>
                                                        <input class="form-control"
                                                            formControlName="colonia_name_trabajo">
                                                    </div>
                                                </ng-template>

                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Telefono</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="telefono_trabajo" maxlength="10"
                                                        pattern="[0-9]{10}" placeholder="Ejemplo: 5512345678">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['telefono_trabajo'].errors && miFormulario.controls['telefono_trabajo'].touched">
                                                        Numero de 10 digitos requerido.
                                                    </span>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label">Extención</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="telefono_ext_trabajo" maxlength="8"
                                                        placeholder="Ejemplo: 3101">
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">No. empleado</label>
                                                    <input class="form-control" formControlName="employee_number">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['employee_number'].errors && miFormulario.controls['employee_number'].touched">
                                                        Calle requerido.
                                                    </span>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Puesto</label>
                                                    <input class="form-control" formControlName="puesto">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['puesto'].errors && miFormulario.controls['puesto'].touched">
                                                        Calle requerido.
                                                    </span>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-4"> <label
                                                        class="form-label required">Antiguedad</label>
                                                    <select class="form-control" formControlName="antiguedad">
                                                        <option value="">-Seleccionar-</option>
                                                        <option value="1 MES - 5 MESES">1 MES - 5 MESES</option>
                                                        <option value="6 MESES - 1 AÑO">6 MESES - 11 MESES</option>
                                                        <option value="1 AÑO - 3 AÑOS">1 AÑO - 3 AÑOS</option>
                                                        <option value="4 AÑOS - 6 AÑOS">4 AÑOS - 6 AÑOS</option>
                                                        <option value="MAS DE 6 AÑOS">MAS DE 6 AÑOS</option>
                                                    </select>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-6"> <label
                                                        class="form-label required">Jefe
                                                        Inmediato</label>
                                                    <input class="form-control" formControlName="jefe_inmediato">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['jefe_inmediato'].errors && miFormulario.controls['jefe_inmediato'].touched">
                                                        Jefe Inmediato requerido.
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6">
                                                    <label class="form-label required">Hora de Entrada</label>
                                                    <input type="time" class="form-control"
                                                        formControlName="entrada_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['entrada_trabajo'].errors && miFormulario.controls['entrada_trabajo'].touched">
                                                        Hora de Entrada requerida.
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6">
                                                    <label class="form-label required">Hora de Salida</label>
                                                    <input type="time" class="form-control"
                                                        formControlName="salida_trabajo">
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['salida_trabajo'].errors && miFormulario.controls['salida_trabajo'].touched">
                                                        Hora de Salida requerida.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="text-center" *ngIf="curp && !edit">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                        <div class="text-center" *ngIf="curp && edit">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div> -->
                                        <div class="text-center" *ngIf="!edit && !onlySee">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                        <div class="text-center" *ngIf="edit && !onlySee">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>