<app-header-homepage>
    <main id="mainVisitor" class="main">
        <div class="row mt-4">
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="card">
                                <img src="assets/img/NIDO_CISZ_LOGO.png" class="card-img-top" alt="Imagen">
                                <div class="card-body">
                                    <h5 class="card-title">NIDO CISZ</h5>
                                    <p class="card-text text-justify-custom"> El Centro de Atención Infantil de Zapopan
                                        está
                                        enfocado en atender a niñas y niños desde los 43 días hasta los 5 años con 11
                                        meses* de
                                        edad, hijos e hijas de servidoras y servidores públicos del Gobierno de Zapopan
                                        y sus
                                        Organismos Públicos Descentralizados.
                                    </p>
                                    <p class="card-text text-justify-custom">*O hasta concluir el ciclo de preescolar en
                                        curso.</p>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                                            data-bs-toggle="modal" data-bs-target="#empleadoModal" (click)="setProcedure(1)">
                                            Iniciar trámite
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal fade  py-5" id="empleadoModal" tabindex="-1" role="dialog"
            aria-labelledby="locationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content  rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="serviceModalLabel">Datos de empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0 text-justify-custom">
                        <!-- <h5 class="mt-2"><strong>Centros</strong></h5> -->
                        <div>
                            <label class="form-label">Dependencia:</label>
                            <select class="form-select" [(ngModel)]="selectDependence">
                                <option value="">-Seleccionar-</option>
                                <option *ngFor="let item of dependences" [value]="item?.id">{{item?.dependencia}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="selectDependence != null">
                            <label class="form-label">No. empleado:</label>
                            <input type="text" class="form-control" [(ngModel)]="employee_number" maxlength="20">
                        </div>
                        <div *ngIf="selectDependence != null">
                            <label class="form-label">Puesto:</label>
                            <input type="text" class="form-control" [(ngModel)]="job_position" maxlength="60">
                        </div>
                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2"
                            (click)="createRequest()">Iniciar
                            Trámite</button>
                        <button type="button" id="closeSPModal" class="btn btn-lg btn-light w-100 mx-0"
                            data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</app-header-homepage>