.card {
    height: 100%;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    max-height: 300px;
    /* Altura máxima del contenedor del texto */
    line-height: 1.2;
    /* Espacio entre líneas */
    font-size: 14px;
    margin-bottom: 30px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.btn {
    font-size: 14px;
}

.text-justify-custom {
    text-align: justify;
    text-justify: inter-word;
}
