<div class="flex-container">
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="logo-container me-3">
            <a [routerLink]="urlLogo" class="logo-link">
                <img class="logo-img" src="assets/img/Logo_DIF.png" alt="Logo" width="120px">
            </a>
        </div>
        <div class="flex-grow-1">
            <h3 class="mb-0 d-none d-md-block">Trámites DIF Zapopan</h3>
        </div>
        <div class="text-end me-5">
            <button class="btn btn-md btn-secondary" routerLink="/dashboard">Mis Solicitudes</button>
        </div>
        <div class="logo-container me-2 d-none d-md-block">
            <a [routerLink]="urlLogo" class="logo-link">
                <img class="logo-img" src="assets/img/escudo_casoespecial.png" alt="Logo" width="140px">
            </a>
        </div>
    </header>
    <ng-content></ng-content>
    <app-footer></app-footer>
</div>