.drop-zone {
    border: 2px dashed #4154f1;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  .file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
  }
  .preview-container {
    margin-top: 10px;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 200px; /* Ajusta la altura según tus necesidades */
    margin-bottom: 5px;
  }
  
  .file-input-placeholder p,
  .file-input-container p {
    margin: 0;
  }
  
  .file-input-container img {
    max-width: 100%;
    max-height: 80px;
    margin-bottom: 10px;
  }
  
  /* Añade cualquier estilo adicional que desees para el cuadro de archivos */
  