<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .my-icon {
            color: green;
            font-size: 50px;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Documentos</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Documentos</li>
                        </ol>
                    </nav>
                    <div class="pagetitle flex-container">
                        <a [routerLink]="'/cisz-guarderia/solicitud/' + request_id + '/padres'">
                            <span class="glyphicon glyphicon-chevron-left"></span><i class="bi bi-arrow-left"></i>
                            Regresar
                        </a>
                        <a [routerLink]="'/cisz-guarderia/solicitud/' + request_id + '/referencia'"
                            *ngIf="undocumentedBeneficiaries.length == 0">
                            Siguiente <i class="bi bi-arrow-right"></i><span
                                class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" *ngIf="undocumentedBeneficiaries.length > 0">
                                <div class="alert alert-warning alert-dismissible fade show text-justify" role="alert">
                                    <strong><i class="bi bi-exclamation-triangle"></i> Alerta!</strong> La documentación
                                    del formulario es exclusivamente para el trabajador
                                    {{undocumentedBeneficiaries[0]?.nombre}}
                                    {{undocumentedBeneficiaries[0]?.apaterno}}
                                    {{undocumentedBeneficiaries[0]?.amaterno}}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Documentación de {{undocumentedBeneficiaries[0]?.nombre}}
                                        {{undocumentedBeneficiaries[0]?.apaterno}}
                                        {{undocumentedBeneficiaries[0]?.amaterno}}.</h5>
                                    <h5 class="text-end"> <a href="assets/img/Carta intención NIDOCISZ.docx" download>
                                        <i class="bi bi-arrow-down-circle"></i> Descarga aquí el formato de carta intención.</a></h5>
                                    <form class="row g-3" (ngSubmit)="onSubmit()">
                                        <div class="col-12">
                                            <label for="fileInput" class="form-label">Subir tu carta intención llena:</label>
                                            <div class="drop-zone" (dragover)="onDragOver($event)"
                                                (drop)="onDrop($event)" (click)="fileInput.click()">
                                                <input #fileInput type="file" class="visually-hidden"
                                                    accept=".pdf, .docx" (change)="onFileSelected($event)"
                                                    (drop)="onFileSelected($event)">
                                                <div class="preview-container" *ngIf="selectedFileName">
                                                    <img [src]="selectedFilePreview" alt="Archivo seleccionado"
                                                        class="preview-image">
                                                    <p>{{ selectedFileName }}</p>
                                                </div>
                                                <div class="file-input-placeholder" *ngIf="!selectedFileName">
                                                    <p>Arrastra o selecciona un archivo</p>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Formatos permitidos: PDF, DOC y
                                                DOCX</small>
                                        </div>
                                        <div class="col-12">
                                            <label for="fileInput2" class="form-label">Subir INE o credencial de trabajo
                                                del trabajador:</label>
                                            <div class="drop-zone" (dragover)="onDragOver2($event)"
                                                (drop)="onDrop2($event)" (click)="fileInput2.click()">

                                                <input #fileInput2 type="file" class="visually-hidden"
                                                    accept=".jpg, .jpeg, .png" (change)="onFileSelected2($event)"
                                                    (drop)="onFileSelected2($event)">
                                                <div class="preview-container" *ngIf="selectedFileName2">
                                                    <img [src]="selectedFilePreview2" alt="Archivo seleccionado"
                                                        class="preview-image">
                                                    <p>{{ selectedFileName2 }}</p>
                                                </div>
                                                <div class="file-input-placeholder" *ngIf="!selectedFileName2">
                                                    <p>Arrastra o selecciona un archivo</p>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Formatos permitidos: JPG, JPEG y
                                                PNG</small>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success">Guardar Documentos</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card" *ngFor="let item of beneficiariesComplet; let i=index">
                                <div class="card-body">
                                    <h5 class="card-title">Documentación de {{item?.nombre}}
                                        {{item?.apaterno}}
                                        {{item?.amaterno}} subida correctamente.</h5>
                                    <div class="text-center">
                                        <i class="bi bi-check-lg my-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>