<footer id="footerVisitor" class="footerVisitor">
    <div class="copyright"> &copy; Copyright <strong><span>DIF ZAPOPAN</span></strong>. Todos los derechos reservados.</div>
    <!-- <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
 </footer>
 <a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  