<style>
   .xu-style {
      /* Estilos generales para el contenedor */
      background-color: #f5f5f5;
      padding: 15px;
   }

   .xu-header {
      /* Estilos para el encabezado */
      font-size: 18px;
      color: #333;
   }

   .xu-field {
      /* Estilos para los campos individuales */
      margin-bottom: 5px;
      color: #555;
   }

   .xu-card {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   .card-title {
      font-size: 16px;
      font-weight: bold;
   }

   .card-text {
      font-size: 14px;
      color: #555;
   }

   .dropdown,
   .dropend,
   .dropstart,
   .dropup {
      position: static !important;
      /* Cambiar position a static y usar !important para asegurar que esta regla se aplique */
   }


   .dropdown-menu {
      position: absolute;
      /* Un valor alto para asegurarnos de que esté sobre la tabla */
      max-height: 800px;
      /* Ajusta la altura según tus necesidades */
      overflow-y: auto;
   }

   ul.dropdown-menu li:nth-child(even) {
      background-color: #ffedd5;
      /* Fondo gris claro para las opciones pares */
   }

   .bi {
      font-size: 4em;
      /* Puedes ajustar el tamaño aquí */
   }
</style>


<div class="card">
   <div class="card-body">
      <h5 class="card-title">Tabla de solicitudes</h5>
      <div class="search-container">
         <ul class="nav nav-tabs w-100" id="myTabs">
            <li class="nav-item">
               <a class="nav-link active" data-bs-toggle="tab" href="#personalizada" (click)="search(1)">Todas</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#search">Buscador</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('status:3')">Aceptadas</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                  (click)="search('status:2')">Pendientes</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                  (click)="search('status:4')">Rechazadas</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('status:8')">En
                  modificación</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('quote:1')">Cita
                  agendada</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('quote:0')">Sin cita</a>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade show active" id="personalizada" role="tabpanel">
               <!-- Aquí puedes mostrar la tabla completa -->
            </div>
            <div class="tab-pane fade" id="search" role="tabpanel">
               <div class="content-section">
                  <div class="card xu-card">
                     <div class="card-body">
                        <input type="text" class="form-control mt-2" placeholder="Buscar..." [(ngModel)]="searchTerm"
                           (input)="onSearchTermChange(searchTerm)">
                     </div>
                  </div>
               </div>
            </div>
            <!-- Aquí puedes agregar más pestañas con su contenido según sea necesario -->
         </div>
      </div>

      <div class="table-container" *ngIf="data?.data?.length > 0">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col" *ngFor="let header of headers">{{header}}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of data.data; index as i">
                  <th scope="row">{{i+1}}</th>
                  <th>{{item.invoice}}</th>
                  <td>{{item.beneficiaries[0].nombre}} {{item.beneficiaries[0].apaterno}}</td>
                  <td>{{calculateAge(item.beneficiaries[0].fechanacimiento) }}</td>
                  <td>{{item.beneficiaries[1]?.nombre ?? null}} {{item.beneficiaries[1]?.apaterno ?? null}}</td>
                  <!-- <td>
                     <div class="text-center"
                        [ngClass]="item.priority_id === 3 ? 'alert-danger' : item.priority_id === 2 ? 'alert-warning' : 'alert-success'">
                        {{item.priority.name}}
                     </div>
                  </td> -->
                  <!-- <td>{{item?.creche_request[0]?.degree?.name ?? null}}</td> -->
                  <td>{{formatDate(item.finished) ?? null}}</td>
                  <td>
                     <div class="text-center"
                        [ngClass]="item.status_request_id === 4 ? 'alert-danger' : item.status_request_id === 2 ? 'alert-warning' : item.status_request_id === 8 ? 'alert-warning' :'alert-success'">
                        {{item.status_request_id == 2 ? 'En proceso' : (item.status_request_id == 3 ? 'Aceptado' :
                        (item.status_request_id == 4 ? 'Rechazado'
                        : (item.status_request_id == 8 ? 'En modificación' :null)))}}</div>
                  </td>
                  <td *ngIf="item.quotes_count != 0 && item.status_request_id == 3">
                     <div class="alert-success">Cita Agendada</div>
                  </td>
                  <td>
                     <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                           id="optionsDropdown_{{item.id}}" data-bs-toggle="dropdown" aria-expanded="false">
                           Opciones
                        </button>
                        <!-- Aplica la clase "striped" de manera condicional a cada elemento de menú -->
                        <ul class="dropdown-menu" [attr.aria-labelledby]="'optionsDropdown_' + item.id">
                           <li *ngIf="item.quotes_count == 0 && item.status_request_id == 3">
                              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#quoteModal"
                                 (click)="getRequest(item)">Agendar Cita</button>
                           </li>
                           <li *ngIf="item.status_request_id != 3 && item.status_request_id != 4">
                              <button class="dropdown-item"
                                 (click)="changeStatus({ id: item.id, status_request_id: 3 })">Aceptar</button>
                           </li>
                           <li *ngIf="item.status_request_id == 2">
                              <button class="dropdown-item"
                                 (click)="changeStatus({ id: item.id, status_request_id: 4 })">Rechazar</button>
                           </li>
                           <li *ngIf="item.status_request_id == 4">
                              <button class="dropdown-item"
                                 (click)="changeStatus({ id: item.id, status_request_id: 2 })">Reactivar</button>
                           </li>
                           <li
                              *ngIf="item.status_request_id != 3 && item.status_request_id != 4 && item.procedure_id == 2">
                              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#locationModal"
                                 (click)="getLocations(1, item)">Cambiar Centro</button>
                           </li>
                           <li *ngIf="item.procedure_id == 1 || item.procedure_id == 2 ">
                              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#messageModal"
                                 (click)="getRequest(item)">Enviar mensaje</button>
                           </li>
                           <li *ngIf="item.procedure_id == 1 || item.procedure_id == 2 ">
                              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#datosModal"
                                 (click)="selectData(item.id)">Ver información</button>
                           </li>
                        </ul>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <nav aria-label="Page navigation example" *ngIf="data?.total > data?.per_page ">
         <ul class="pagination">
            <li class="page-item" *ngFor="let item of data.links; let i = index">
               <button class="page-link" [ngClass]="{'activeLink': item.active}" (click)="onPageChange(item.url)"
                  *ngIf="item.url != null">
                  <ng-container *ngIf="item.label === '&laquo; Previous'">«</ng-container>
                  <ng-container *ngIf="item.label === 'Next &raquo;'">»</ng-container>
                  <ng-container *ngIf="item.label !== '&laquo; Previous' && item.label !== 'Next &raquo;'">
                     {{ item.label.includes('Previous') ? '«' : item.label.includes('Next') ? '»' : item.label }}
                  </ng-container>
               </button>
            </li>
         </ul>
      </nav>
   </div>
</div>

<div class="modal fade" id="quoteModal" tabindex="-1" aria-labelledby="quoteModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="quoteModalLabel">Agendar Cita para {{id?.beneficiaries[0]?.nombre ?? null}}
               {{id?.beneficiaries[0]?.apaterno ?? null}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form" [formGroup]="miFormulario">
               <div class="mb-3">
                  <label for="dateInput" class="form-label">Fecha</label>
                  <input type="date" class="form-control" id="dateInput" placeholder="Ingrese la fecha"
                     formControlName="date" min="{{ minDate() }}">
               </div>
               <div class="mb-3">
                  <label for="timeInput" class="form-label">Hora</label>
                  <input type="time" class="form-control" id="timeInput" placeholder="Ingrese la hora"
                     formControlName="hour">
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="schedule()">Agendar</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="messageModalLabel">Enviar mensaje para la solicitud con folio No.{{ id?.invoice
               ??
               null }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="mb-3">
               <label for="motivoMessage" class="form-label">Motivo</label>
               <select class="form-select" id="motivoMessage" [(ngModel)]="motivoMessage">
                  <option value="" selected>-Seleccionar-</option>
                  <option *ngFor="let item of motivosMessage" [value]="item?.id">{{ item?.name }}</option>
               </select>
            </div>

            <div class="mb-3" *ngIf="motivoMessage == 4">
               <label for="lugarCorreccion" class="form-label">Lugar</label>
               <select class="form-select" id="lugarCorreccion" [(ngModel)]="lugarCorreccion">
                  <option value="" selected>-Seleccionar-</option>
                  <option *ngFor="let item of typeForms" [value]="item?.id">{{ item?.name }}</option>
               </select>
            </div>

            <div class="mb-3">
               <label for="newMessage" class="form-label">Mensaje:</label>
               <textarea class="form-control" id="newMessage" [(ngModel)]="newMessage"
                  placeholder="Escriba el contenido del mensaje." rows="10"></textarea>
            </div>
            <a (click)="toggleHistory()" style="color: blue;" *ngIf="historyMessages?.length > 0">{{ showHistory ?
               'Ocultar' : 'Mostrar' }} historial ({{historyMessages?.length}})</a>
            <div class="mb-3" *ngIf="showHistory">
               <div class="table-responsive">
                  <table class="table table-striped table-responsive">
                     <thead>
                        <tr>
                           <th>No.</th>
                           <th>MOTIVO</th>
                           <th>MENSAJE</th>
                           <th>FECHA</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of historyMessages">
                           <th scope="row">{{item.id}}</th>
                           <td>{{item.message_motive.name}}</td>
                           <td
                              style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              {{item.text}}</td>
                           <td>{{item.created_at}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
               (click)="sendMessage()">Enviar</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade  py-5" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content  rounded-4 shadow">
         <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="serviceModalLabel">Disponibilidad</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body py-0 text-justify-custom">
            <!-- <h5 class="mt-2"><strong>Centros</strong></h5> -->
            <div>
               <label class="form-label">Centros con Guarderia:</label>
               <select class="form-control" [(ngModel)]="selectLocation" (change)="getCreches()">
                  <option value="">-Seleccionar-</option>
                  <option *ngFor="let item of locations" [value]="item?.id">{{item?.name}}
                  </option>
               </select>
            </div>
            <div *ngIf="selectLocation != null && creches.length >= 1">
               <label class="form-label">Cupos por Grado:</label>
               <select class="form-control" [(ngModel)]="selectCreche">
                  <option value="">-Seleccionar-</option>
                  <option *ngFor="let item of creches" [value]="item?.id">{{item?.name}} - CUPO:
                     {{item?.total_capacity - item?.total_sum}}
                  </option>
               </select>
            </div>
         </div>
         <div class="modal-footer flex-column border-top-0">
            <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" data-bs-dismiss="modal"
               (click)="changeCenter()">Cambiar</button>
            <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade py-5" id="datosModal" tabindex="-1" role="dialog" aria-labelledby="datosModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded-4 shadow">
         <div class="modal-header border-bottom-0">
            <ul class="nav nav-tabs w-100" id="myTabs">
               <li class="nav-item">
                  <a class="nav-link active" id="tab-nino" data-bs-toggle="tab" href="#tabNino">Niño</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="tab-padres" data-bs-toggle="tab" href="#tabPadres">Trabajador</a>
               </li>
               <!-- <li class="nav-item">
                  <a class="nav-link" id="tab-vivienda" data-bs-toggle="tab" href="#tabVivienda">Vivienda</a>
               </li> -->
               <li class="nav-item">
                  <a class="nav-link" id="tab-referencias" data-bs-toggle="tab" href="#tabReferencias">Referencias</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="tab-documentos" data-bs-toggle="tab" href="#tabDocumentos">Documentos</a>
               </li>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body py-0 text-justify-custom">
            <div class="tab-content">
               <!-- Pestaña de Niño -->
               <div class="tab-pane fade show active" id="tabNino" *ngIf="dataShow && dataShow.child ">
                  <div class="content-section">
                     <div class="card xu-card">
                        <div class="card-body">
                           <h6 class="card-title">{{ dataShow.child?.nombre }} {{ dataShow.child?.apaterno }}
                              {{
                              dataShow.child?.amaterno }}</h6>
                           <p class="card-text"><b>CURP:</b> {{ dataShow.child?.curp }}</p>
                           <p class="card-text"><b>Fecha de Nacimiento:</b> {{ dataShow.child?.fechanacimiento }}</p>
                           <p class="card-text"><b>Edad:</b> {{ calculateAge(dataShow.child?.fechanacimiento) }}</p>
                           <p class="card-text"><b>Sexo:</b> {{ dataShow.child?.sexo == 2? 'MUJER' : 'HOMBRE' }}</p>
                           <p class="card-text"><b>Tipo de sangre:</b> {{ dataShow.child?.tipo_sangre }}</p>
                           <!-- Agrega más información según tus necesidades con las clases xu-style y xu-card -->
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Pestaña de Padres -->
               <div class="tab-pane fade" id="tabPadres"
                  *ngIf="dataShow && dataShow.parents && dataShow.parents.length > 0">
                  <div class="content-section">
                     <div *ngFor="let padre of dataShow.parents" class="card xu-card">
                        <div class="card-body">
                           <h6 class="card-title">{{ padre?.nombre }} {{ padre?.apaterno }} {{ padre?.amaterno }}
                           </h6>
                           <div class="row">
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>CURP:</b> {{ padre?.curp }}</p>
                                 <p class="card-text"><b>Fecha de nacimiento:</b> {{ padre?.fechanacimiento }}</p>
                                 <p class="card-text"><b>Tipo de sangre:</b> {{ padre?.tipo_sangre }}</p>
                                 <p class="card-text"><b>Lugar de nacimiento:</b> {{ padre?.economic[0].lugar_nacimiento
                                    }}</p>
                              </div>
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>Parentesco:</b> {{ showCatalogo?.parentesco }}</p>
                                 <p class="card-text"><b>Estado civil:</b> {{ showCatalogo?.estado_civil }}</p>
                                 <p class="card-text"><b>Escolaridad:</b> {{ showCatalogo?.escolaridad }}</p>
                              </div>

                              <hr class="mt-2">
                              <p class="card-text tex" style="color: #002d6f;"><b>INFORMACIÓN DE DIRECCIÓN</b></p>
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>Calle:</b> {{ padre?.address[0]?.calle }}</p>
                                 <p class="card-text"><b>Numero exterior:</b> {{ padre?.address[0]?.numext }}</p>
                                 <p class="card-text"><b>Numero interior:</b> {{ padre?.address[0]?.numint }}</p>
                                 <p class="card-text"><b>Primer cruce:</b> {{ padre?.address[0]?.primercruce }}</p>
                                 <p class="card-text"><b>Segundo cruce:</b> {{ padre?.address[0]?.segundocruce }}</p>
                              </div>
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>Colonia:</b> {{ padre?.address[0]?.colonia_name }}</p>
                                 <p class="card-text"><b>Municipio:</b> {{ padre?.address[0]?.municipio }}</p>
                                 <p class="card-text"><b>Estado:</b> {{ padre?.address[0]?.estado }}</p>
                                 <p class="card-text"><b>Celular:</b> {{ padre?.address[0]?.celular }}</p>
                              </div>

                              <hr class="mt-2">
                              <p class="card-text tex" style="color: #002d6f;"><b>INFORMACIÓN DE TRABAJO</b></p>
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>Dependencia:</b> {{ showCatalogo?.dependencia }}</p>
                                 <p class="card-text"><b>Puesto:</b> {{ padre?.economic[0].puesto }}</p>
                                 <p class="card-text"><b>Antiguedad:</b> {{ padre?.economic[0].antiguedad }}</p>
                                 <p class="card-text"><b>Jefe inmediato:</b> {{ padre?.economic[0].jefe_inmediato }}</p>
                                 <p class="card-text"><b>Telefono:</b> {{ padre?.economic[0].telefono_trabajo }}</p>
                                 <p class="card-text"><b>Extención:</b> {{ padre?.economic[0].telefono_ext_trabajo }}
                                 </p>
                                 <p class="card-text"><b>Calle:</b> {{ padre?.economic[0].calle_trabajo }}</p>
                                 <p class="card-text"><b>Número exterior:</b> {{ padre?.economic[0].numext_trabajo }}
                                 </p>
                                 <p class="card-text"><b>Número interior:</b> {{ padre?.economic[0].numint_trabajo }}
                                 </p>

                              </div>
                              <div class="col-12 col-lg-6">
                                 <p class="card-text"><b>Primer cruce:</b> {{ padre?.economic[0].primer_cruce_trabajo }}
                                 </p>
                                 <p class="card-text"><b>Segundo cruce:</b> {{ padre?.economic[0].segundo_cruce_trabajo
                                    }}</p>
                                 <p class="card-text"><b>Colonia:</b> {{ padre?.economic[0].colonia_name_trabajo }}</p>
                                 <p class="card-text"><b>Municipio:</b> {{ padre?.economic[0].municipio_trabajo }}</p>
                                 <p class="card-text"><b>Estado:</b> {{ padre?.economic[0].estado_trabajo }}</p>
                                 <p class="card-text"><b>Horario de entrada:</b> {{ padre?.economic[0].entrada_trabajo
                                    }}</p>
                                 <p class="card-text"><b>Horario de salida:</b> {{ padre?.economic[0].salida_trabajo }}
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Pestaña de Vivienda -->
               <div class="tab-pane fade" id="tabVivienda" *ngIf="dataShow && dataShow.housing">
                  <div class="content-section">
                     <div class="card xu-card">
                        <div class="card-body">
                           <h6 class="card-title">Información de la Vivienda</h6>
                           <p class="card-text">Tipo de Vivienda: {{ dataShow.housing?.tipo_vivienda }}</p>
                           <p class="card-text">Calle: {{ dataShow.housing?.address[0]?.calle }}, Número Exterior: {{
                              dataShow.housing?.address[0]?.numext }}, Número Interior: {{
                              dataShow.housing?.address[0]?.numint }}</p>
                           <p class="card-text">Municipio: {{ dataShow.housing?.address[0]?.municipio }}, Código Postal:
                              {{
                              dataShow.housing?.address[0]?.codigopostal }}</p>
                           <!-- Agrega más información según tus necesidades con las clases xu-style y xu-card -->
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Pestaña de Referencias Personales -->
               <div class="tab-pane fade" id="tabReferencias"
                  *ngIf="dataShow && dataShow.references && dataShow.references.length > 0">
                  <div class="content-section">
                     <div *ngFor="let referencia of dataShow.references" class="card xu-card">
                        <div class="card-body">
                           <h6 class="card-title">{{ referencia?.nombre }} {{referencia?.apaterno}}
                              {{referencia?.amaterno}}</h6>
                           <p class="card-text"><b>Domicilio:</b> calle {{ referencia?.calle }}, número exterior: {{
                              referencia?.numext }} {{referencia?.numint != null ? ', número interior: ': ''}} {{
                              referencia?.numint }} </p>
                           <p class="card-text"><b>Colonia:</b> {{ referencia?.colonia_name }}</p>
                           <p class="card-text"><b>Municipio:</b> {{ referencia?.municipio }}</p>
                           <p class="card-text"><b>Teléfono:</b> {{ referencia?.telefono }}</p>
                           <p class="card-text"><b>Celular:</b> {{ referencia?.celular }}</p>
                           <p class="card-text"><b>Horario para contactar:</b> {{ referencia?.horario_contacto_1 }} a {{
                              referencia?.horario_contacto_2 }}</p>
                           <!-- Agrega más información según tus necesidades con las clases xu-style y xu-card -->
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Pestaña de Vivienda -->
               <div class="tab-pane fade" id="tabDocumentos" *ngIf="dataShow ">
                  <div class="content-section">
                     <div class="card xu-card">
                        <div class="card-body">
                           <h6 class="card-title">Documentación de trabajador</h6>
                           <div class="row">
                              <div class="card col-12 col-md-6 col-lg-6 text-center"
                                 *ngFor="let item of dataShow.documents">
                                 <a class="mt-3" href="{{ baseUrl+'cisz/'+item.url }}" download>
                                    <p>
                                       {{item.required_document_id == 2 ? "Descargar 'Carta intención NIDOCISZ'" :
                                       "Descargar identificación de trabajador"}}
                                    </p>
                                    <span><i
                                          [ngClass]="{'bi': true, 'bi-file-earmark-arrow-down-fill': item.required_document_id == 2, 'bi-person-badge-fill': item.required_document_id != 2}"></i></span>

                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>