<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <a class="d-flex justify-content-center"><img src="assets/img/Logo_DIF.png" width="200px"></a>
                                    <h5 class="card-title text-center pb-0 fs-4">RESTABLECER CONTRASEÑA</h5>
                                </div>
                                <form class="row g-3 needs-validation" [formGroup]="miFormulario">
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Nueva contraseña</label>
                                        <input type="password" name="password" class="form-control" id="yourPassword" formControlName="password">
                                        <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">Confirmar contraseña</label>
                                        <input type="password" name="repeatPassword" class="form-control" formControlName="password_confirmation">
                                        <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit" [disabled]="miFormulario.invalid" (click)="reset()">Confirmar contraseña</button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="small mb-0"><a routerLink="/auth/login">Iniciar sesión</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
