<app-creche>
   <main id="main" class="main">
      <div class="pagetitle">
         <h1>Citas</h1>
         <nav>
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a routerLink="/admin/guarderia">Dashboard</a></li>
               <li class="breadcrumb-item active">Citas</li>
            </ol>
         </nav>
      </div>
      <section class="section dashboard">
         <app-quotes [data]="data" [headers]="header" (asistenciaCreada)="recargarDatosTabla()" (pageChange)="onPageChange($event)"></app-quotes>
      </section>
   </main>
</app-creche>