<div class="card">
   <div class="card-body">
      <h5 class="card-title">Tabla de beneficiarios</h5>
      <!-- <button class=" btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#serviciosModal">Ingresar
         beneficiario</button> -->
      <div class="search-container">
         <ul class="nav nav-tabs w-100" id="myTabs">
            <li class="nav-item">
               <a class="nav-link active" data-bs-toggle="tab" href="#personalizada" (click)="search(1)">Todos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#search">Buscador</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('status:1')">Activos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                  (click)="search('status:0')">Inactivos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#searchDegree">Por grado</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-bs-toggle="tab" href="#searchRoom">Por sala</a>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade show active" id="personalizada" role="tabpanel">
               <!-- Aquí puedes mostrar la tabla completa -->
            </div>
            <div class="tab-pane fade" id="search" role="tabpanel">
               <div class="content-section">
                  <div class="card xu-card">
                     <div class="card-body">
                        <input type="text" class="form-control mt-2" placeholder="Buscar..." [(ngModel)]="searchTerm"
                           (input)="onSearchTermChange(searchTerm)">
                     </div>
                  </div>
               </div>
            </div>

            <div class="tab-pane fade" id="searchRoom" role="tabpanel">
               <div class="content-section">
                  <div class="card xu-card">
                     <div class="card-body">
                        <select class="form-control mt-2" name="optionSearch" id="optionSearch" [(ngModel)]="searchTerm" (change)="searchChange()">
                           <option value="">-Seleccionar-</option>
                        <option *ngFor="let item of room" [value]="'room_id:'+item.id">{{item.name}}</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="tab-pane fade" id="searchDegree" role="tabpanel">
               <div class="content-section">
                  <div class="card xu-card">
                     <div class="card-body">
                        <select class="form-control mt-2" name="optionSearch" id="optionSearch" [(ngModel)]="searchTerm" (change)="searchChange()">
                           <option value="">-Seleccionar-</option>
                           <option *ngFor="let item of degree" [value]="'degree_id:'+item.id">{{item.name}}</option>
                           </select>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="table-container" *ngIf="data?.data?.length > 0">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col" *ngFor="let header of headers">{{header}}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of data.data">
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.nombre ?? null}} {{item.apaterno ?? null}}</td>
                  <td>{{item.fechanacimiento ?? null}}</td>
                  <td>{{calculateAge(item.fechanacimiento) ?? null}}</td>
                  <td>
                     <div class="text-center"
                        [ngClass]="item.beneficiary_creche[0].status == 0 ? 'alert-danger' :  'alert-success' ">
                        {{item.beneficiary_creche[0].status == 1 ? 'ACTIVO' : 'INACTIVO' }}
                     </div>
                  </td>
                  <td>{{item.beneficiary_creche[0].creche.degree.name ?? null}}</td>
                  <td>{{item.beneficiary_creche[0].creche.room.name ?? null}}</td>
                  <td><button class=" btn btn-sm btn-info m-1" data-bs-toggle="modal"
                        data-bs-target="#showBeneficiaryCrecheModel" (click)="getLocations(1,item)">Ver Datos</button>
                     <button *ngIf="item.beneficiary_creche[0].status == 0" class=" btn btn-sm btn-success m-1"
                        data-bs-toggle="modal" data-bs-target="#crecheModal"
                        (click)="getCrechesChange({beneficiary : item, center_id : item.beneficiary_creche[0].creche.center_id})">Dar
                        De Alta</button>
                     <button *ngIf="item.beneficiary_creche[0].status == 1" class=" btn btn-sm btn-danger m-1"
                        (click)="changeEstatus(item,0)">Dar De Baja</button>
                     <!-- <button *ngIf="item.beneficiary_creche[0].status == 0" class=" btn btn-sm btn-primary m-1"
                        data-bs-toggle="modal" data-bs-target="#locationModal" (click)="getLocations(1,item)">Cambiar
                        Centro</button> -->
                  </td>
               </tr>
            </tbody>
         </table>
         <nav aria-label="Page navigation example" *ngIf="data?.total > data?.per_page ">
            <ul class="pagination">
               <li class="page-item" *ngFor="let item of data.links; let i = index">
                  <button class="page-link" [ngClass]="{'activeLink': item.active}" (click)="onPageChange(item.url)"
                     *ngIf="item.url != null">
                     <ng-container *ngIf="item.label === '&laquo; Previous'">«</ng-container>
                     <ng-container *ngIf="item.label === 'Next &raquo;'">»</ng-container>
                     <ng-container *ngIf="item.label !== '&laquo; Previous' && item.label !== 'Next &raquo;'">
                        {{ item.label.includes('Previous') ? '«' : item.label.includes('Next') ? '»' : item.label }}
                     </ng-container>
                  </button>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>

<div class="modal fade" id="showBeneficiaryCrecheModel" tabindex="-1" aria-labelledby="showBeneficiaryCrecheModelLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="crecheModalLabel">INFORMACIÓN DE {{beneficiary?.nombre}}
               {{beneficiary?.apaterno}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form row">
               <h5>DATOS GENERALES</h5>
               <div class="col-6">
                  <label>CURP:</label>
                  <input class="form-control" [value]="beneficiary?.curp" disabled>
               </div>
               <div class="col-6">
                  <label>Nombre Completo:</label>
                  <input class="form-control"
                     [value]="beneficiary?.nombre+' '+beneficiary?.apaterno+' '+beneficiary?.amaterno" disabled>
               </div>
               <div class="col-3">
                  <label>Sexo:</label>
                  <input class="form-control" [value]="beneficiary?.sexo === 1 ? 'HOMBRE' : 'MUJER'" disabled>
               </div>
               <div class="col-3">
                  <label>Tipo de sangre:</label>
                  <input class="form-control" [value]="beneficiary?.tipo_sangre" disabled>
               </div>
               <div class="col-3">
                  <label>Fecha de Nacimiento:</label>
                  <input class="form-control" [value]="beneficiary?.fechanacimiento" disabled>
               </div>
               <!-- <hr class="mt-3">
               <h5>DATOS DE DOMICILIO</h5>
               <div class="col-6">
                  <label>Estado:</label>
                  <input class="form-control" [value]="beneficiary?.estado ? beneficiary?.estado.toUpperCase() : ''"
                     disabled>
               </div>
               <div class="col-6">
                  <label>Municipio:</label>
                  <input class="form-control"
                     [value]="beneficiary?.municipio ? beneficiary?.municipio.toUpperCase() : ''" disabled>
               </div>
               <div class="col-6">
                  <label>Colonia:</label>
                  <input class="form-control" [value]="beneficiary?.colonia ? beneficiary?.colonia.toUpperCase() : ''"
                     disabled>
               </div>

               <div class="col-6">
                  <label>Domicilio:</label>
                  <input class="form-control"
                     [value]="beneficiary?.calle + ' #' + beneficiary?.numext + (beneficiary?.numint ? ' int ' + beneficiary.numint : '')"
                     disabled>
               </div>
               <div class="col-6">
                  <label>Entre calle(s):</label>
                  <input class="form-control"
                     [value]="beneficiary?.primercruce + (beneficiary?.segundocruce ? ' Y ' + beneficiary.segundocruce : '')"
                     disabled>
               </div>
               <div class="col-6">
                  <label>Tipo de vivienda:</label>
                  <input class="form-control" [value]="getHousingObject()?.vivienda ||''" disabled>
               </div>
               <div class="col-3">
                  <label>Telefono:</label>
                  <input class="form-control" [value]="beneficiary?.celular" disabled>
               </div> -->
               <div>
                  <hr class="m-3">
                  <div class="col-12">
                     <label>Enfermedad:</label>
                     <input class="form-control" [value]="getDiseasObject()?.enfermedad || 'NINGUNA'" disabled>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade  py-5" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content  rounded-4 shadow">
         <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="serviceModalLabel">Disponibilidad</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body py-0 text-justify-custom">
            <!-- <h5 class="mt-2"><strong>Centros</strong></h5> -->
            <div>
               <label class="form-label">Centros con Guarderia:</label>
               <select class="form-control" [(ngModel)]="selectLocation" (change)="getCreches()">
                  <option value="">-Seleccionar-</option>
                  <option *ngFor="let item of locations" [value]="item?.id">{{item?.name}}
                  </option>
               </select>
            </div>
            <div *ngIf="selectLocation != null && degrees.length >= 1">
               <label class="form-label">Cupos por Grado:</label>
               <select class="form-control" [(ngModel)]="selectDegree">
                  <option value="">-Seleccionar-</option>
                  <option *ngFor="let item of degrees" [value]="item?.id">{{item?.name}} - CUPO:
                     {{item?.total_capacity - item?.total_sum}}
                  </option>
               </select>
            </div>
         </div>
         <div class="modal-footer flex-column border-top-0">
            <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" data-bs-dismiss="modal"
               (click)="changeCenter()">Cambiar</button>
            <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="crecheModal" tabindex="-1" aria-labelledby="crecheModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="crecheModalLabel">Ingresar el beneficiario {{beneficiary?.nombre}}
               {{beneficiary?.apaterno}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form">
               <div class="mb-3">
                  <label>Guarderias:</label>
                  <select class="form-control" [(ngModel)]="selectCreche" name="selectCreche">
                     <option value='0' selected>--Seleccionar Guarderia--</option>
                     <option *ngFor="let item of creches"
                        [value]="item?.id+','+item?.beneficiry_count+','+item?.room?.name">
                        {{item?.room?.name}} - CUPO:
                        {{item?.capacity - item?.beneficiry_count}}</option>
                  </select>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="changeCreche(1)">Asignar
               Guarderia</button>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="serviciosModal" tabindex="-1" aria-labelledby="serviciosModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="serviciosModalLabel">Ingresar beneficiarios desde Padrón.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form class="form" [formGroup]="miFormularioService">
               <div class="row">
                  <div class="col-9 col-md-6 col-lg-6">
                     <label class="form-label required">Curp</label>
                     <input type="text" class="form-control" formControlName="curp" (input)="onInputChange()">
                     <span class="form-text text-danger form"
                        *ngIf="miFormularioService.controls['curp'].hasError('pattern') && miFormularioService.controls['curp'].touched">
                        La CURP debe contener solo letras y números.
                     </span>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 align-self-end" *ngIf="curp != true">
                     <button type="button" class="btn btn-md btn-success mt-1" (click)="validatorCurp()">Validar
                        Curp</button>
                  </div>
                  <div class="col-1 col-md-6 col-lg-6 align-self-end" *ngIf="curp == true">
                     <button type="button" class="btn btn-md btn-danger mt-1" (click)="backCurp()">
                        <i class="bi bi-arrow-90deg-left"></i>
                     </button>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" *ngIf="curp == true"
               (click)="addBeneficiaryService()">Agregar Beneficiario</button>
         </div>
      </div>
   </div>
</div>