<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <a class="d-flex" style="place-content: center;"> <img
                                             src="assets/img/Logo_DIF.png" width="200px"></a>
                                    <h5 class="card-title text-center pb-0 fs-4">REGISTRO DE USUARIO</h5>
                                </div>
                                <form class="row g-3 needs-validation" [formGroup]="miFormulario"
                                    (ngSubmit)="register()">
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Correo electrónico</label>
                                        <input name="username" id="yourUsername" class="form-control" type="email"
                                            formControlName="email" maxlength="255">
                                        <div class="input-group has-validation">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['email'].errors && miFormulario.controls['email'].touched">
                                                Por favor ingrese un correo electrónico válido.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Nombre(s)</label>
                                        <input type="text" name="username" class="form-control" formControlName="name" maxlength="25">
                                        <div class="input-group has-validation">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['name'].errors && miFormulario.controls['name'].touched">
                                                Por favor ingrese un nombre.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Contraseña</label>
                                        <input type="password" name="password" class="form-control" id="yourPassword"
                                            formControlName="password" maxlength="255">
                                        <div class="input-group has-validation">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['password'].errors && miFormulario.controls['password'].touched">
                                                Por favor ingresa tu contraseña.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">Confirmar Contraseña</label>
                                        <input type="password" name="repeatPassword" class="form-control"
                                            formControlName="password_confirmation">
                                        <div class="input-group has-validation">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['password_confirmation'].errors && miFormulario.controls['password_confirmation'].touched">
                                                Por favor ingresa de nuevo la contraseña.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12">
                               <div class="form-check"> <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"> <label class="form-check-label" for="rememberMe">Remember me</label></div>
                            </div> -->
                                    <div class="col-12"> <button class="btn btn-primary w-100" type="submit"
                                            [disabled]="miFormulario.invalid">Registrar</button></div>
                                    <div class="col-12 text-center">
                                        <p class="small mb-0">¿Tienes cuenta? <a routerLink="/auth/login">Iniciar
                                                sesion</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>